@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0; padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 22, 22);
    min-width: 665px;
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #06c;
    box-shadow: 0 0 1rem white;
    
}
#name{
    color: #fff;
    margin: auto;
}
ul{
    display: flex;
    margin: auto;
}
li{
    color: white;
    list-style-type: none;
    padding: 1rem;
    text-align: justify;
}
footer{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    background-color: #444;
    box-shadow: 0 0 1rem white;
    margin-top: 9vh;
    min-width: 2vh;
    flex-wrap: wrap;
    gap: 2vh;

}

#icons{
    display: flex;
    justify-content: space-between;
    margin-left: 10vh;
    
}
.icon{
    border-radius: 180px;
    padding: 1rem ;
}
li:hover{
    color: #093741;
    padding: 0 10px;
    background: darkgray;
    border-radius: 10px;
    text-decoration: none;
    display : flex;
    align-items : center;
    justify-content : center;
}
#contats{
    
    padding: 1rem;
    margin-right: 200px;
    
}
#contats:hover{
    color: #fff;
    padding: 0 10px;
    background: #06c;
    border-radius: 10px;
    text-decoration: none;
    display : flex;
    align-items : center;
    justify-content : center; 
}
main{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-width: 70vh;
    flex-wrap: wrap;
    gap: 2vh;
}
#abtme{
    margin:  auto;
    width: 50vh;
    color: white;
    text-align: justify;
    padding: 15px;
    box-shadow: 0 0 1rem white;
    border-radius: 20px;
}
#picture{
    margin: auto;
}
#pic{
    border-radius: 180px;
    width: 350px;
    height: 350px;
    box-shadow: 0 0 2rem white
}
.clear{
    clear: both;
}
#conta{
    display: flex;
    /* width: 50%; */
    height: 30vh;
    justify-content: space-around;
    margin: 1vh auto 0 auto; 
    padding: 1vh;
    /* min-width: 1283px;  */
    /* text-align: right; 
    align-items: center;
    align-content: center;
    flex-wrap: wrap;  */
}
#hobbies{
     /* width: 47%;  */
    color: #fff;
    display: flex;
    text-align: right;
    flex-direction: column;
}
.pichobbiesconteiner{
    display: flex;
    margin-top: 30px;
}
.pictopconteiner{
    display: flex;
    margin-top: 30px;
}
#topf{
    /* width: 47%; */
    color: #fff;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.pichobbies{
    margin: auto;
    color: #fff;
    border: 1px #fff;
    background-color: #444;
    padding: 0.4rem;
    border-radius: 30px;
    box-shadow: 0 0 1rem white;
    height: 168px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.pictop{
    margin: auto;
    color: #fff;
    border:1px #fff;
    background-color: #444;
    padding: 0.4rem;
    border-radius: 30px;
    box-shadow: 0 0 1rem white;
    justify-content: space-around; 
}
.hpic{
    margin: 1rem auto;
    width: 80px;
    height: 120px;
    border-radius: 20px;
    
}
.tpic{

    margin: auto;
    width:  80px;
    height: 120px;
    border-radius: 20px;
}
.hbname{
    text-align: center;
}
.topname{
    text-align: center;
}
.hn{
    text-align: end;
} 

@media only screen and (max-width: 953px) {
    main{
        margin-bottom: 40vh;
    }
    #conta{
        margin-top: 1000000vh;
        display: flex;
        /* width: 50%; */
        height: 30vh;
        justify-content: space-around;
        margin: 2vh auto 0 auto; 
        padding: 1vh;
        /* min-width: 1283px;  */
        text-align: right; 
        align-items: center;
        align-content: center;
        flex-wrap: wrap; 
    }
    #hobbies{
         width: 468px;
        color: #fff;
        display: flex;
        text-align: left;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .pichobbiesconteiner{
        display: flex;
        margin-top: 30px;
    }
    .pictopconteiner{
        display: flex;
        margin-top: 30px;
    }
    #topf{
        width: 468px;
        color: #fff;
        display: flex;
        text-align: left;
        flex-direction: column;
        margin-bottom: 300px;
    }
    
    .pichobbies{
        margin:auto;
        color: #fff;
        border: 1px #fff;
        background-color: #444;
        padding: 0.4rem;
        border-radius: 30px;
        box-shadow: 0 0 1rem white;
        height: 168px;
        align-items: center;
    }
    
    .pictop{
        margin: auto;
        color: #fff;
        border:1px #fff;
        background-color: #444;
        padding: 0.4rem;
        border-radius: 30px;
        box-shadow: 0 0 1rem white
    }
    .hpic{
        margin: 1rem auto;
        width: 80px;
        height: 120px;
        border-radius: 20px;
        
    }
    .tpic{
    
        margin: auto;
        width:  80px;
        height: 120px;
        border-radius: 20px;
    }
    .hbname{
        text-align: center;
    }
    .topname{
        text-align: center;
    }
    .hn{
        text-align: end;
    } 
}